<ion-header>
  <ion-navbar>
    <ion-title align="center">Farm Hand</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--UseName = herd number of logged in farmer-->
  <h2 align="center">User: username(herdNo)</h2>
  <h2 align="center"> Welcome (First Name) sarah</h2>

  <ion-item *ngFor="let myCount of myCountArray">
    <h2>{{myCount.HerdNo}}
    </h2>
  </ion-item>

  <ion-item *ngFor="let myData of myDataArray">
    <h2>{{myData.herdNo}}
    </h2>
  </ion-item>

</ion-content>